<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.co  m/fwlink/?LinkId=169433
  -->
<configuration>
    

  <connectionStrings>
   <!-- <add name="InvestFundaCon" connectionString="Server=tcp:assortserver.database.windows.net,1433;Initial Catalog=AssortDB;Persist Security Info=False;User ID=assortservice;Password=logmein@123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />-->
    <!--<add name="InvestFundaCon" connectionString="Server=DESKTOP-TT7DJHD\SQLEXPRESS;Initial Catalog=assortstaffing;Integrated Security=SSPI" providerName="System.Data.SqlClient" />-->
    <add name="InvestFundaCon" connectionString="Data Source=43.255.152.26;Initial Catalog=assortDB;User id=assort;Password=assort@123" providerName="System.Data.SqlClient" /> 
   <!-- <add name="InvestFundaCon" connectionString="Data Source=208.91.198.196;Initial Catalog=assordb;User id=assordb;Password=Assort@123" providerName="System.Data.SqlClient" />-->
    <!--<add name="InvestFundaCon" connectionString="Data Source=208.91.198.196;Initial Catalog=AssortDB;User id=assort;Password=Assort@123" providerName="System.Data.SqlClient" />-->
    <!--<add name="InvestFundaCon" connectionString="Data Source=182.50.133.110;Initial Catalog=InvestorFunda;User id=IFDb;Password=Investor@Funda100" providerName="System.Data.SqlClient" />-->
    <!--<add name="InvestFundaCon" connectionString="Data Source=DESKTOP-TT7DJHD\SQLEXPRESS;Initial Catalog=InvestorFunda_Test;Integrated Security=SSPI" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <!--<add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=investorfundafile;AccountKey=XTWc5jDFzrI5rX4jEAvXYWRMeSnS5ngrZYlPhv9phyYQXi4PEkg3CIjNnVCbLPCuDy161MYdtJEAPhqv3TeEtg==;EndpointSuffix=core.windows.net" />-->
    <!--<add key="StorageConnectionString" value="UseDevelopmentStorage=true;DevelopmentStorageProxyUri=http://127.0.0.1" />-->
      <!--<add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=investorfundafile;AccountKey=XTWc5jDFzrI5rX4jEAvXYWRMeSnS5ngrZYlPhv9phyYQXi4PEkg3CIjNnVCbLPCuDy161MYdtJEAPhqv3TeEtg==;EndpointSuffix=core.windows.net" />
     <add key="StorageConnectionString" value="UseDevelopmentStorage=true;DevelopmentStorageProxyUri=http://127.0.0.1" />-->

  </appSettings>
  <system.web>
   
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" maxRequestLength="2097152" />
    <trust level="Full"/>
    <authentication mode="Windows"></authentication >
    <customErrors mode="Off"/>
  </system.web>
    <system.serviceModel>
    <bindings>
        <webHttpBinding>
            <binding name="Service.WebHttp" sendTimeout="00:05:00" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="Streamed">
                <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
                <security mode="None" />
            </binding>
        </webHttpBinding>
    </bindings>

    <services>
        <service behaviorConfiguration="ServiceBehavior" name="Service.InvestorFundaServices">
            <endpoint address="" behaviorConfiguration="EndPointBehavior" binding="webHttpBinding" bindingConfiguration="Service.WebHttp" contract="Service.IInvestorFundaServices" />
        </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="EndPointBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="webHttpBinding" scheme="http" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>



  <system.webServer>
    

    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>

 <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
