<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IMFUploadService">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_MFOrderEntry">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_IMFUploadService1">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://bsestarmfdemo.bseindia.com/MFUploadService/MFUploadService.svc?wsdl" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IMFUploadService" contract="MF_AdditionalService.IMFUploadService" name="WSHttpBinding_IMFUploadService" />
            <endpoint address="http://bsestarmfdemo.bseindia.com/MFOrderEntry/MFOrder.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_MFOrderEntry" contract="MFOrderEntry.MFOrderEntry" name="WSHttpBinding_MFOrderEntry" />
            <endpoint address="http://bsestarmfdemo.bseindia.com/MFUploadService/MFUploadService.svc/Basic" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IMFUploadService1" contract="MFUploadServiceAdv.IMFUploadService" name="WSHttpBinding_IMFUploadService1" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>